/* ----------------------------------------------------------------
	Custom CSS

-----------------------------------------------------------------*/


/* @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Quicksand:wght@700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap'); */



/* TODO: Testar responsividade  */
.caption-option1{
	
    text-shadow: 2px 2px 2px #000!important;
	/* top: 150px; */
		
}

/* TODO: Testar responsividade  */
/* TODO: Limpar código?? */
.caption-option2{
	
    text-shadow: 2px 2px 2px white !important;
	
}

.caption-position1{
	
	top: 6rem;
	
}



/* -------------------------------------
||| Top-bar / 2o menu
--------------------------------------- */


.dark .top-links-item > a, .dark #top-social li a, #top-bar.dark {
    color: #FFF;
}
.dark .top-links-item > a:hover, .dark #top-social li a:hover, #top-bar.dark:hover {

    color: #1ABC9C;
}



/* TODO: Testando nome TrackServices no footer */
/* -------------------------------------
||| Footer
--------------------------------------- */

.fontTrack{
	font-family: 'Archivo Black', sans-serif;
	/* font-size: 2.0rem!important; */
}
