/* ----------------------------------------------------------------
	Custom CSS SW

-----------------------------------------------------------------*/


/* @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Quicksand:wght@700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap'); */




/* Menu Links - Ajuste do scrolling dos anchor links do menu */
html{
    scroll-padding-top: 4rem;
    /* scroll-margin-top */
}






/* Carousel */

/* TODO: Testar responsividade  */
.caption-option1{
	
    text-shadow: 2px 2px 2px #000!important;
	/* top: 150px; */
		
}

/* TODO: Testar responsividade  */
/* TODO: Limpar código?? */
.caption-option2{
	
    text-shadow: 2px 2px 2px white !important;
	
}

.caption-position1{
	
	top: 6rem;
	
}



/* -------------------------------------
||| Top-bar / 2o menu
--------------------------------------- */
.dark .top-links-item > a, .dark #top-social li a, #top-bar.dark {
    color: #FFF;
}

.dark .top-links-item > a:hover, .dark #top-social li a:hover, #top-bar.dark:hover{

    color: white!important;
}
.dark .top-links-item:hover {
    /* background-color: white; */
	
}


/* #top-social > li > a {
    color: white!important;

} */

#top-social > ul > li > a:hover {
    text-decoration: white!important;

}





/* .dark .top-links-item > a, .dark #top-social li a, #top-bar.dark {
    color: #FFF;
}
.dark .top-links-item > a:hover, .dark #top-social li a:hover, #top-bar.dark:hover {

    color: #1ABC9C;
}


.dark .top-links-item:hover {
    background-color: white;
	color: #ec1e23;
	
}
.dark .menu-item:hover > .menu-link,
.dark .menu-item.current > .menu-link {
	color: #ec1e23;
} */




/* -------------------------------------
||| Serviços 
--------------------------------------- */
/* Efeito hover nas imagens */

#portfolio > article > div > div.portfolio-image > a > img{
    transition: all 1s;
}



#portfolio > article > div > div.portfolio-image > a:hover > img{
    /* overflow: hidden; */
    transform: scale(1.2) rotate(5deg);
   
}







/* -------------------------------------
||| Serviços Modal
--------------------------------------- */



.modal-style1{
    color: black!important;
}
.modal-style1:hover{
    color: #ec1e23!important;
}
.header-extras span{
    overflow: visible;
}
.si-share{
    position: absolute!important;
    bottom: 50px!important;
}



/* -------------------------------------
||| Footer
--------------------------------------- */

.fontTrack{
	font-family: 'Archivo Black', sans-serif;
	/* font-size: 2.0rem!important; */
}
